<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add product</h2>
    <form action="/add-product" method="post">
        <div>
            <label for="">Item</label>
            <input type="text" name="Item">
        </div>
        <div>
            <label for="">Price</label>
            <input type="text" name="Price">
        </div>
        <div>
            <label for="">Image lonk</label>
            <input type="text" name="Image">
        </div>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>